#loader {
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    display: hidden;
}

*{
    transition: all 1s ease;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

body {
    background-image: url(../assets/sunny_bg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;
    background-attachment: fixed; 
    padding: 5px;
}

.content {
    min-width: fit-content;
}

.Current {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    box-sizing: content-box;

    text-wrap: nowrap;
    overflow: auto;
    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: auto;
    gap : 10px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    height: max-content;

}

#Hourly-text{
    display: none;
}

.Current div{
    width: 40%;
    min-width: 100px;
}

.Current .details {
    min-width: fit-content;
}

.Current div #current-img {
    max-width: 125px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.4rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

#forecast-history h3{
    text-align: center;
    padding-top: 2px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.295);
}

#hourly-forecast {
    margin-bottom: 1rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    box-sizing: content-box;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    font-size: 0.5rem;
    text-align: center;
}

.hourly {
    width: max(100px,9.09%);
    padding: 0.5rem;
    box-sizing: border-box;
}

#forecast-history {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-sizing: content-box;
    flex-wrap: wrap;
    display: none;
    overflow: scroll;
}

#forecast-container, #history-container {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    margin: 3px;
}

#history-container{
    width: 100%;
}

.accordion-header .accordion-button:not(.collapsed){
    color: white;
}

.accordion-button::after{
    filter: grayscale(100%) , invert(100%);
}


#History , #Forecast {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    /* overflow: auto; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    font-size: 0.5rem;
    text-align: center;
    
}

.day {
    width: max(150px,14.28vw);
    min-width: 5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}
.day[day]:not([day=""]){
    cursor: pointer;
}



.hourly,.day{
    min-width: fit-content;
    text-wrap: nowrap;
}

img {
    max-width: 100px;
}

.search{

    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    background-color: #fff;
    height: 100%;
    border: 0;
    padding: 0 8px;
}



.location{

     border-top-left-radius: 32px !important;
border-bottom-left-radius: 32px !important;
background-color: #fff !important ;
height: 100%;


}

.input-group-prepend {
    margin-right: -2px !important;
}


.input-group-append {
    margin-left: -2px !important;
}

.accordion , .accordion-flush .accordion-item, .accordion-item .accordion-button{ 
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 0;
}
.accordion-item .accordion-button:not(.collapsed){
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: 0 0 0 0;
}
.accordion-collapse p {
    padding: 0;
    margin: 0.2rem;
    padding-left: 0.2rem;
}

.accordion-item .accordion-button::after {
    color: #fff;
}



#Location-box{
    anchor-name: --input;
}

#list-autocomplete{
    position: absolute;
    position-anchor: --input;
    position-area: bottom center;
    background-color: white;
    color: black;
    overflow: hidden;
    width: anchor-size(width);
    overflow: auto;
}

#list-autocomplete li{
    padding: 5px 15px;
    border-bottom: 1px grey solid;
    overflow: scroll;
    font-size: 1.4rem;
}

#list-autocomplete li::marker{
    content: '';
}

#list-autocomplete li:hover{
    background-color: rgb(203, 203, 203);
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .day , .hourly {
        padding: 1.5em;
    }
    .Current {
        padding: 3rem;
        width: 30%;
        min-width: fit-content;

    }
    #forecast-history{
        flex-wrap: nowrap;
    }
    #History , #Forecast {
        flex-wrap: nowrap;
        border-radius: 0px;
    }
    #forecast-history h3{
        text-align: start;
        
        
    }
    #history-container{
        width: auto;
    }
    #history-container h3, #forecast-container h3{
        padding-left: 3rem;
        padding-top: 3px;
        text-shadow: none;
    }
  }